* {
    margin: 0;
    padding: 0;
}
html, body{
    scroll-behavior: smooth;
}

/* Header Section */
.borders{
    border: 2px solid gray;
}
.navbars{
    display: flex;
    align-items: center;
}
.bg-dar{
    background-color: rgb(5, 5, 5);
    height: 5rem;

}
.navbars a{
    color: rgb(224, 224, 224);
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.1s ease-in;
    
}
.navbars a:hover{
    color: #d5193b;
    text-decoration: none;
    animation-name:goup ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
}
@keyframes goup {
    from{
        margin-bottom: 0;
    }
    to{
        margin-bottom: 7px;
    }
}

.img-logo{
    height: 4em;
    margin-left: auto;
    padding: 0px;
    margin-right: 3em;
    margin-top: 0.5em;
}
.img-nav{
    display: none;
}
.hamburgers{
    display: none;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    grid-gap: 1px;
    padding: 10px;

    visibility: hidden;
}

.nav-contain{
    margin: 0;
    padding: 0;
}

/* Home image section */
.main-home-contain{
    overflow: hidden;
}
.main-home-contain img{
    margin: 0;
    padding: 0;
    z-index: -5;
    /* height: 100vh; */
    animation-name: zooming;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
}

@keyframes zooming {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
    
}
.marq{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #1a1a1a;
}
.the-para{
    font-family: "Taprom", system-ui;
    font-size: 2em;
    margin-bottom: 0;
    color: #d5193b;
}
.name-para{
    margin-top:0 ;
    margin-bottom:0 ;
    font-family: "Linden Hill", serif;
    font-size: 6em;
    font-weight: bolder;
    color: #d5193b;
}
.place-para{
    margin-top: -3em;
}
.home-box{    
    height: 25em;
}
#home-box-1{
    width: 40%;
}
#home-box-1 p{
    font-size: 19.3px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-box-2{
    width: 60%;
}

.home-box img{
    height: 100%;
    opacity: 0.9;
    border: 5px solid gray;
}
/* Rooms section with 9 rooms  */

.rooms-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 20px;
    /* background: rgb(29, 28, 28); */
}

    .rooms-cards {
        position: relative;
        width: 22em;
        height: 28.5em;
        box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
        transition: all 120ms;
        display: inline-block;
        background: rgb(233, 233, 233);
        padding-bottom: 12em;
    }
      .rooms-cards:hover{
        background: rgb(196, 196, 196);
      }

      .text {
        max-width: 55px;
      }
      
      .rooms-image {
        width: 100%;
        height: 100%;
  
      }
      .rooms-image img{
          width: 100%;
      }
      p a{
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    p a:hover{
        text-decoration:none ;
        color: black;
    }
    .pin a{
      font-size: 12px;
    }
      .card-para{
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: -30px;
    }
    .hor{
        background: #d5193b;
    }
    .mul-contain{
        display: flex;
        gap: 15px;
        align-content: center;

    }
    .mul-box{
     height: 30em;   
    }
    .mul-para{
        color: #d5193b;
        font-family: "Libre Baskerville", serif;
        font-size: 2.5em;
    }
    .mul-img{
        height: 80%;
        margin-left: 2em;
    }
    .trip-img{
        width: 80%;
        border: 2px solid lightgreen;
        cursor: text;
    }
    .small-box-contain{
        display: flex;
        width: 29.2em;
        float: left;
        border: 2px solid lightgreen;
    }
    .small-box1{
        height: 3em;
        width: 5em;
        margin-left: -17px;
    }
    .last-contain{
        gap: 2em;
    }
    .small-box1 img{
        height: 100%;
    }
    #last{
        transition: all 0.1s ease-in;
    }
    #last:hover{
    
        background:#fff6f8 ;
    }
    .facility{
        transition: color 0.4s ease-in-out;
    }
.last-box img{
    width: 100%;
    transition: transform 0.2s ease-in;
}
.last-box img:hover{
    transform: scale(1.05);
}

   
/* Footer Section */
.main-footer-contain{
    background: #d5193b;
    gap: 5px;
}
.foot-box{
    height: 21em;
    display: block;
    width: 18em;
}
.foot-b1-img{
    width: 95%;
    float: right;
    /* border: 2px solid orange; */
}
.social-icons{
    transition: all 0.2s ease-in;
    color: #ffffff;
}
.social-icons:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.i:hover{
    color: rgb(211, 139, 151);
}
.f:hover{
    color: blue;
}
.t:hover{
    color: rgb(43, 40, 40);
}
.foot-para1{
    padding-top: 5em;
}
.foot-para{
    color: #ffffff;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.foot-last-para1{
    padding-top: 2em;
}
.foot-last-para a{
    color: #ffffff;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;

}
.scrol{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    position: fixed;
    left: 70em;
    top: 35em;
    width: 3em;
    background-color: #d5193b;
    border-radius: 5px;
    transition: background-color 0.5s ;
    cursor: pointer;
    z-index: 1000;
}
.disp{
    display: none;
    visibility: hidden;
}
.displ{
    display: none;
}

/* ABOUT US PAGE STARTS FROM HERE */

.aboutus-img{
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            width: 100%;
}
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.about-us-para{
    font-size: 17px;
    font-family: "Roboto Slab", serif;
    color: rgb(105, 102, 102);
}
.value-box{
    height: 15em;
    width: 30%;
}
.value-para{
    color: #d5193b;
    font-size: 26px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.value-list{
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

/* Dining Page starts from here */
.dine-hr{
    height: 0.2em;
    background-color: silver;
    width: 10em;
    margin: auto;
    color: rgb(255, 255, 255);
}
.dine-para{
    color: rgb(92, 92, 92);
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dine-rotate-contain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.dine-rotate-box{
    height: 7em;
    width: 7em;
    cursor: pointer;
}
.dine-rotate-box img{
    height: 100%;
    transition: transform 0.5s ease-in; /* Smooth transition */
}
.dine-rotate-box img:hover{
    transform: rotateY(360deg);
}

/* breakfast lunch and dinner images  */
.hover-img-container{
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}
.hover-img{
    height: 100%;
  }
  .cards {
    --white: hsl(0, 0%, 83%);
    --black: hsl(240, 3%, 7%);
    --stone-300: hsl(24, 6%, 83%);
    --pink-500: hsl(299, 100%, 83%);
  
    cursor: pointer;
    position: relative;
    height: 15rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards:hover .sub-card.category {
    transform: translateY(100%);
  }
  .cards:hover .sub-card.named {
    transform: translateY(-100%);
  }
  .cards_container {
    overflow: hidden;
  
    position: relative;
    z-index: 5;
  
    width: 22rem;
    height: 15rem;
    background-color: var(--pink-500);
  
  }
  .cards_container::before {
    content: "";
  
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsla(240, 9%, 7%, 0.2);
    transform-origin: center;
  
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  .cards_container::after {
    content: "See More";
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 0rem;
    box-sizing: border-box;
    width: 0rem;
    aspect-ratio: 1;
    background-color: burlywood;
  
    font-size: 0rem;
    font-weight: bold;
    color: black;
    text-align: center;
  
    border-radius: 50%;
    transform-origin: center;
  
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }
  
  .cards:hover .cards_container::before {
    width: 22.5rem;
  
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }
  .cards:hover .cards_container::after {
    padding: 1rem;
    width: 5rem;
  
    font-size: 0.75rem;
  
    transition: all 0.3s ease-in-out 0.4s;
  }
  
/* Meeting page starts from here */
.table-container{
    overflow-x: auto;
}

/* Multan page starts from here */
.multan-container{
    gap: 1.5em;
    flex-wrap: wrap;
    padding: 1em;
}
.multan-box{
    height: 17.6em;
    width: 22em;
    transition: all 0.2s ease-in;
}
.multan-box:hover{
    transform: scale(1.05);
    opacity: 0.9;

}
.multan-box img{
    background-repeat: no-repeat;
    width: 100%;
    overflow-y:hidden ;
}
/* Contact Us page starts from here */
.map-img{
    position: relative;
}
.map-img img{
    width: 100%;
}

.map-img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2em;
    background:black;
    opacity: 0.2;
}
.contact-form-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-box{
    height: 30em;
    width: 50%;
}
.contact-box1{
    padding: 2em;
}
.contact-box2{
    padding: 2em;
}
.contact-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: #d5193b;
}
/* Contact form */
/* From Uiverse.io by andrew-demchenk0 */ 
.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .feed-form input {
    height: 54px;
    width:150%;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: 2px solid #d5193b;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
  }
  
  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #d5193b;;
  }
  
  .button_submit {
    width: 50%;
    height: 54px;
    font-size: 14px;
    color: white;
    background:rgb(255, 49, 84);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }
.gallery-contain{
    gap: 4em;
}
.gallery-contain button{
    font-size: 1.2em;
    color: #9e9e9e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gallery-contain button:hover{
    color: #d5193b;
}
.gallery-img-contain{
    flex-wrap: wrap;
    gap: 0.1em;
    
}
.gallery-box{
    height: 12em;
    width: 18em;
    --white: hsl(0, 0%, 83%);
    --black: hsl(240, 3%, 7%);
    --stone-300: hsl(24, 6%, 83%);
    --pink-500: hsl(299, 100%, 83%);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .gallery-box:hover .sub-card.category {
    transform: translateY(100%);
  }
  .gallery-box:hover .sub-card.named {
    transform: translateY(-100%);
  }
  .gallery_container {
    overflow: hidden;
  
    position: relative;
    z-index: 5;
  
    width: 18rem;
    height: 12rem;
    background-color: var(--pink-500);
  }
  
  .gallery_container img{
    height: 100%;
    }
  
  .gallery_container::before {
    content: "";
  
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsla(240, 9%, 7%, 0.2);
    transform-origin: center;
  
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  
  .gallery-box:hover .gallery_container::before {
    width: 22.5rem;
  
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }
  .gallery-box:hover .gallery_container::after {
    padding: 1rem;
    width: 5rem;
  
    font-size: 0.75rem;
  
    transition: all 0.3s ease-in-out 0.4s;
  }
  
  .tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* second effect */
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
/* Rooms page starts from here */
#rooms{
  margin-top: 2em;
  background-color: rgb(255, 245, 247);
  padding-bottom: 2em;
}
.customize-para{
  font-size: 2.2em;
  color: rgb(109, 109, 109);
  font-family: Arial, Helvetica, sans-serif;
}
.room1-img{
  width: 70%;
}
.room1-img img{
  width: 100%;
}
.room2-img{
  padding-left:1em ;
  width: 30%;
}
.small-room-img{
  width: 25%;
  display: inline;
}
.par {
  display: inline;
}
.par a{
  font-weight: lighter;
  color: #333333;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
.par a:hover{
color: #d5193b;
}
.horizontal{
  width: 100vh;
}
.cont-para{
    font-family: Arial, Helvetica, sans-serif;
  color:#333333;
  font-size: 1em;
}

/* Utility Classes */
.bor{
    border: 1px solid green;
    margin-top: 2px;
}
.borders {
    border: 2px solid red;
}
.back{
    background-color: #1A1A1A;
}
.clr{
    color: rgb(211, 211, 211);
}
.clrs{
  color: #1a1a1a;
}
.marpad{
    margin: 0;
    padding: 0;
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pin{
  color: #d5193b;
}